<div id="header" class="w3-top">
	<div class="w3-bar w3-card w3-theme-d3">
		<a href="{{site.baseurl}}/index.html#" class="w3-bar-item w3-theme-d3 w3-button w3-hide-small" style="width:25%">LyricoVocale</a>
		<a href="{{site.baseurl}}/index.html#" class="w3-bar-item w3-theme-d3 w3-button w3-hide-medium w3-hide-large">LyricoVocale</a>
		<a href="{{site.baseurl}}/index.html#concerts" class="w3-bar-item w3-theme-d2 w3-button w3-hide-small" style="width:25%">Konzerte</a>
		<a href="{{site.baseurl}}/index.html#about" class="w3-bar-item w3-theme-d1 w3-button w3-button w3-hide-small" style="width:25%">Chor</a>
		<a href="{{site.baseurl}}/index.html#repertoire" class="w3-bar-item w3-theme w3-button w3-hide-small" style="width:25%">Repertoire</a>
		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="showMenu()"><i class="fa fa-bars"></i></a>
	</div>
	<div id="menu" class="w3-bar-block w3-theme-d3 w3-hide w3-hide-large">
		<a href="{{site.baseurl}}/index.html#concerts" class="w3-bar-item w3-theme-d2 w3-button">Konzerte</a>
		<a href="{{site.baseurl}}/index.html#about" class="w3-bar-item w3-theme-d1 w3-button">Chor</a>
		<a href="{{site.baseurl}}/index.html#repertoire" class="w3-bar-item w3-theme w3-button">Repertoire</a>
		<a href="{{site.baseurl}}/contact.html" class="w3-bar-item w3-theme-l1 w3-button">Kontakt</a>
	</div>
</div>
